
.page {
	display: none;
	text-align: center;
	margin-top: 50px;
}


#page1 {
	display: block;
}


button {
	font-size: 20px;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: rgb(21, 117, 58);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}


button:hover {
	background-color: #3e8e41;
}



body {
	background: linear-gradient(45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 800% 800%;
	animation: Gradient 15s ease infinite;
  }
  
  
  @keyframes Gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }
  

.sidebar {
	position: fixed; 
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px; 
	background-color: #333; 
	color: #fff; 
  }
  
  .sidebar ul {
	list-style: none; 
	padding: 0;
	margin: 0;
  }
  
  .sidebar li {
	padding: 10px; 
  }
  
  .sidebar a {
	display: block; 
	color: #fff;
	text-decoration: none; 
  }
  
  .sidebar a:hover {
	background-color: #fff; 
	color: #333; 
  }
  
  main {
	margin-left: 200px; 
  }
  
  section {
	padding: 50px; 
  }
  
  #my-image {
    float: left;
    margin-left: -1000px;
}

.text-wrapper {
	text-align: center;
  }
  
  .centered-text {
	display: inline-block;
	text-align: left;
	margin-left: auto;
	margin-right: 0;
  }
  
  #my-text {
	text-align: center;
  }
  